*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    background: linear-gradient(to left,#ffafbd, #ffc3a0);
    color:#d8d8d8;
    border-bottom: 1px, solid, white;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Verdana';
}

.navbar a{
    text-decoration: none;
    color:black;
    margin-left: 12px;
    margin-top: inherit;
}


.navbar a.nav-logo{
    float:left;
    height: inherit;
    line-height: inherit;
    padding: 0px;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family:'Oswald';
    color:white;
    font-weight: bolder;
}

.navbar a.nav-logo:hover{
    transition: 0.6s ease-in-out;
    cursor: pointer;
    filter: invert(1)
    
}


.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;

}

.navbar ul li{
    display: inline-block;
}


.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover{
    background-color: #fa6b83;
}

body{
    background: url(../johanngabrieltelesforo/img/Comp\ 1_1.gif);
    background-repeat: no-repeat;

    
}


.content{
    font-family: 'Trebuchet MS';
    color: white;
    margin-top: 18%;
    margin-left: 185px;
}


h1{
    font-size: 65px;
    font-weight: bold;
    color:whitesmoke;
    font-family: Oswald;
}

p{
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: Calibri;
    font-weight: normal;
    font-size: 20px;
}

h3{
    font-size: 45px;
    font-family: Khand;
    margin-top: 20px;
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


img{
    margin-top: 22%;
    margin-left: 170px;
    margin-right: 100px;
    width: 500px;
    height: 500px;
}

.review{
    margin-top : 20px;
    background-color: #643a70;
    cursor: pointer;
    color: white;
    padding: 12px 20px;
    float: left;
    border: 0;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Oswald;
}

.review a{
    color: aliceblue;
}

.review:hover{
    transition: 0.6s ease;
    filter: invert(2);
}


#container{
    margin-top: 5%;
    padding: 80px;
    background: linear-gradient(to left,#fc9dad, #ffc3a0);
}

#container .showcase{
    text-align: center;

}

.reel{
    padding: 20px;
    margin-top: 10px;
    font-family: Oswald;
    color:black;
    font-size: 50px;
    letter-spacing: 4px;
}

span{
    color: white;
    background-color: #7a4988;
    border-radius: 10px;
    border-width: 15px;
    border-style: none;
    border-top: 20px;
    
}


.intro{
    padding: 25px;
    margin-top: 45px;
    font-family: Oswald;
    color:black;
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 45px;
  
}

.showroom{
    padding: auto;
    margin-top: 10%;
    
}

iframe{
    margin: 5px 5px 5px 5px;
}


.screen{
    margin-left: 16px;
    margin-bottom: 60px;
}
