*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Verdana;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: -webkit-linear-gradient(bottom,#ffd89b, #19547b);
    
}

.container {
    width: 300px;
    background: blanchedalmond;
    border-radius: 5px;
    text-align: center;
    padding: 50px 60px 835px 35px;


}

.container header{
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 30px 15px;

}


.container .form-outer{
    width: 100%;

}

.form-outer form{
    display: flex;
    width: 400%;

}

.form-outer form .page{
    width: 25%;

}

.form-outer form .page .title{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-left: 35px;

}

.form-outer form .page .field{
    height: 45px;
    width: 330px;
    margin: 45px 0;
    position: relative;


}

.form-outer form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
}

.form-outer form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;

}

.form-outer form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: coral;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.form-outer form .page .field button:hover{
    background-color: #246dc0;
}

select{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}